*/build/
*/.vs/
*/debug/
*/release/
*/win32/
*/x86/
*/x64/
*/CMakeFiles/
*/enc_temp_folder/
*/leptjson.dir/
*/leptjson_test.dir/

*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
*.txt
*.pdf
*.cmake
*.VC.db
*.VC.opendb
